.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

.form__input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #cfccd262;
}

.form__input:focus {
    box-shadow: 0 0 5pt 2pt #d9caddd1;
    outline-width: 0px;
}

.form__link {
    padding: 15px;
    margin: 0 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgb(121, 30, 205);
    color: white;
}
.form__link:hover{
    border-radius: 8px;
    background-color: rgba(93, 30, 151, 0.976);
    transition: 0.5s;
}

.form__link--disabled {
    opacity: 0.5;
    pointer-events: none;
}